{% extends 'base.html' %}

{% block title %}New mail{% endblock %}

{% block header %}
<h1>New mail</h1>
{% endblock %}

{% block action %}
<a href="{{ url_for( 'mail.index' )}}" class="button">Return</a>
{% endblock %}

{% block content %}
    <form method="post">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" class="input">
        </div>
        <div class="form-group">
            <label for="subject">Subject</label>
            <input type="text" name="subject" id="subject" class="input">
        </div>
        <div class="form-group">
            <label for="content">Content</label>
            <textarea name="content" id="content" cols="30" rows="10"></textarea>
        </div>
        <div class="form-group">
            <input type="submit" value="Send" name="create" id="create" class="submit">
            <input type="submit" value="Cancel" name="cancel" id="cancel" class="submit" formnovalidate>
        </div>
    </form>

{% endblock %}